:root {
--dark: rgba(0, 0, 0, 0.886);
--R: rgb(218, 73, 73);
--light: #4343e8;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#name {
    background-color: var(--light);
    font-size: 45px;

}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    background-color: rgb(218, 73, 73);
    justify-content: space-between;
}

.pageCover {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 20px;
    background-image: url("./images/Abstract.jpg");
    background-position: center;
    background-size:cover;
}

figure h1 {
    display: flex;
    font-size: 20px;
    align-items: end;
}


h4 span{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 1250px;
}

nav {
display: flex;
width: 500px;
justify-content: space-between;
margin-right: 100px;

}


nav a {
    
    list-style: none;
    font-size: 120%;
    background-color: white;
    flex-direction: row-reverse;
    text-decoration-color: var(--light);
    
}
   
.hover-feature:hover {
   background-color:gold;
}


#subtitle {
    display: flex;
    align-self: flex-end;
    font-size: 12px;
    
}

#quote {
    
}

main {
    background-color: var(--R);
}

#HotAirBalloon {
    display: flex;
    margin-top: 25px;
    height:80%;
    justify-content: center;
}

div {
    display: block;
}

.personal-info {
    height: 600px;
    display: flex;
    padding-left: 50px;
    text-align: left;
}

.projects {
    flex: 1;
    display:flex;
    flex-wrap: wrap;
}

#big-project {
    border: 1px solid green;
    height:50%;
    width: 100%;
}

.small-projects {
    border: 1px solid blueviolet;
    height: 25%;
    width: 50%;
}

p {
    text-align: left;
    display: flex;
    padding-left: 30px;
    width: 85%;
}

#workpic {
    background-image: url(./images/milky-way.jpeg)
    
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    p h1 nav {
        font-size: 1.25rem;
        display: flex;
    }
    }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    h1 nav ul {
        font-size:1.5rem;
        line-height: 1.5rem;
        display: flex;
    }
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     
        h1 nav ul {
            font-size:1.75rem;
            line-height: 1.75rem;
            display: flex;
            
        }
        }
    

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 nav ul {
        font-size:1.75rem;
        line-height: 1.75rem;
        display: flex;
    }
    }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    h1 nav ul {
    font-size:1.75rem;
    line-height: 1.75rem;
    display: flex;
}
}