:root {
--dark: rgba(0, 0, 0, 0.886);
--Gray: #808080;
--light: #0000ff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#name {
    background-color: var(--light);
    font-size: 45px;

}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    background: gray;
    justify-content: space-between;
}

#page-cover {
display: flex;
justify-content: space-between;
background-position: center;
height: 150px;
background-image: url(./images/BlueCheckers.jpg) 

}

h4 span{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 1250px;
}

nav {
display: flex;
width: 500px;
justify-content: space-between;
margin-right: 100px;

}


nav a {
    
    list-style: none;
    font-size: 120%;
    background-color: white;
    flex-direction: row-reverse;
    text-decoration-color: var(--light);
    
}
   
.hover-feature:hover {
   background-color:gold;
}


#subtitle {
    font-size: 35px;
    background-color: var(--Gray);
}

.personal-info {
    display: flex;
    justify-content: right;
    float:left;
    padding-left: 50px;
    text-align: left;
}

p {
    text-align: left;
    display: flex;
    padding-left: 30px;
    width: 85%;
}

#workpic {
    background-image: url(./images/milky-way.jpeg)
    
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    p h1 nav {
        font-size: 1.25rem;
        display: flex;
    }
    }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
    h1 nav ul {
        font-size:1.5rem;
        line-height: 1.5rem;
        display: flex;
    }
    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
     
        h1 nav ul {
            font-size:1.75rem;
            line-height: 1.75rem;
            display: flex;
            
        }
        }
    

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 nav ul {
        font-size:1.75rem;
        line-height: 1.75rem;
        display: flex;
    }
    }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
    h1 nav ul {
    font-size:1.75rem;
    line-height: 1.75rem;
    display: flex;
}
}