:root {
    --dark: rgba(0, 0, 0, 0.886);
    --R: rgb(218, 73, 73);
    --light: #4343e8;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#name {
    background-color: var(--light);
    font-size: 45px;

}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    align-items: center;
    background-color: rgb(218, 73, 73);
    justify-content: space-between;
}

.pageCover {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 20px;
    background-image: url("./images/Abstract.jpg");
    background-position: center;
    background-size: cover;
}

figure h1 {
    display: flex;
    font-size: 20px;
    align-items: end;
}


h4 span {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 1250px;
}

nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-right: 100px;

}


nav a {

    list-style: none;
    font-size: 120%;
    background-color: white;
    flex-direction: row-reverse;
    text-decoration-color: var(--light);

}

.hover-feature:hover {
    background-color: gold;
}


#subtitle {
    display: flex;
    align-self: flex-end;
    font-size: 12px;

}



main {
    background-color: var(--R);


}

section h2 {
    display: inline;
    text-align: right;
    align-items: top;
    color: black;
    width: 20%;
    padding-right: 10px;
}

#about-me {
    display: inline;
    padding-top: 0px;
    border-left: 5px solid blue;
    width: 85%;
}

#contact-me {
    display: inline;
    padding-top: 0px;
    border-left: 5px solid blue;
    width: 85%;
}

#resume {
    display: inline;
    padding-top: 0px;
    border-left: 5px solid blue;
    width: 85%;
}


div {
    display: block;
}



#section-about-me {
    height: 300px;
    display: flex;

    padding-left: 50px;
    text-align: left;
}

#about-me-paragraph {
    margin-top: 25px;
}

.section-work {
    height: 600px;
    display: flex;

    padding-left: 50px;
    text-align: left;
}

#section-contact-me {
    height: 300px;
    display: flex;
    margin-top: 100px;
    padding-left: 50px;
    text-align: left;
}

#section-resume {
    height: 300px;
    display: flex;
    padding-left: 50px;
    text-align: left;
}


.projects {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    height:600px;
}

#big-project {
    border: 10px solid rgb(218, 57, 57);
    height: 50%;
    width: 84.3%;
    margin-left: 50px;
    background-image: url(./images/Lobster_mushroom.png);
    background-size: cover;
}

.small-projects {
    border: 10px solid rgb(218, 57, 57);
    height: 25%;
    width: 40%;
    margin-left: 50px;
    margin-top: 20px;

}

#smallOne {
    background-image: url(./images/Amanita.jpg);
    background-size: cover;
    background-position: center;
}

#smallTwo {
    background-image: url(./images/Chanterelles.jpeg);
    background-size: cover;
}

#smallThree {
    background-image: url(./images/Oysters.jpg);
    background-size: cover;
}

#smallFour {
    background-image: url(./images/Morel_Mushrooms.webp);
    background-position: center;


}

.photolinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 500px;
    z-index: 10;
    background-color: black;
    font-size: 50px;
}

p {

    text-align: left;
    display: flex;
    padding-left: 30px;
    width: 85%;
}

section h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--light);
}


.personal-links {
    display: flex;
    justify-content: flex-end;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    p h1 nav {
        font-size: 1.25rem;
        display: flex;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    h1 nav ul {
        font-size: 1.5rem;
        line-height: 1.5rem;
        display: flex;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    h1 nav ul {
        font-size: 1.75rem;
        line-height: 1.75rem;
        display: flex;

    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    h1 nav ul {
        font-size: 1.75rem;
        line-height: 1.75rem;
        display: flex;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    h1 nav ul {
        font-size: 1.75rem;
        line-height: 1.75rem;
        display: flex;
    }
}

@media only screen and (min-width: 1440px) {
    h1 nav ul {
        font-size: 10rem;
        line-height: 1.75rem;
        display: flex;

    }
}